@using System.Text.Json
@model PhotoCore.Mvc.Models.UserAlbums.IndexModel

@{
    ViewData["Title"] = "Albums";
}

<h1>Albums</h1>
<div class="row">
    <div class="col-auto">
        @foreach (var album in Model.Albums)
        {
            <h4>
                <a asp-controller="UserPhotos" asp-action="Index" asp-route-id="@album.Aid">@album.Title</a> 
            </h4>

                <pre>
@JsonSerializer.Serialize(album, new JsonSerializerOptions{ WriteIndented = true })
                </pre>
        }
    </div>
</div>